mypy
autoflake
flake8
isort
black[jupyter]
python-dotenv
types-Pillow

pytest
pytest-mock
pre-commit
pydantic==2.4.2

wheel
types-setuptools
bump2version
twine
python-semantic-release
setuptools

jupyter

sphinx
